 <div id="about-header">
  <h1> About Me </h1>
</div>
<div id="about-section">
  <div class="about-image">
      <img src="{{ "/assets/img/about.jpg" | prepend: site.baseurl }}"/>
  </div>
  <div class="about-text">
    <p class="multiline">
      Italian-born art, science and technology enthusiast, I'm currently doing a 
      <a href="https://dssc.units.it/">M.Sc. in Data Science</a> at University of Trieste and the International School
      of Advanced Studies (SISSA).
    </p>
    <p class="sub-header">
      EDUCATION
    </p>
    <p>
        <b>M.Sc. in Data Science - Expected 2020</b>
        <br/>
        University of Trieste, SISSA - Trieste, Italy
      </p>
    <p>
      <b>Collegial Studies Degree (DEC) - IT Management</b>
      <br/>
      Cégep de Saint-Hyacinthe - Saint-Hyacinthe, Québec (CA)
    </p>
    <p class="sub-header">
      EXPERIENCE AND SKILLS
    </p>
    <p>
      Two years of CS internship in a textile research center.
      <br/>
      Four months of internship on a computer vision project.
      <br/>      
      President of CégepSTH Student Union, 2017-2018.
    </p>
    <p class="sub-header">
        AWARDS AND RECOGNITION
    </p>
    <p>
      Lecturer at the <a href="http://aqpc.qc.ca">38th AQPC Symposium</a> in Saint-Hyacinthe.
      <br/>
      Lecturer at the <a href="http://www.acfas.ca">84th ACFAS congress</a> in Montreal.
      <br/>
      Data Science Excellence Scolarship from SISSA
      <br/>
      Top Writer for Quora Italy in 2018
    </p>
    <div class="button-div">
      <a class="curriculum-link" href="{{ "/assets/pdf/gabriele_sarti_cv.pdf" | prepend: site.baseurl }}">Curriculum</a>
    </div>
  </div>
</div>
