<div id="particles-js">
  <img id="logo" alt="Logo" src="{{ "/assets/img/logo.png" | prepend: site.baseurl }}" onclick="scrollTop()"/>
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="My LinkedIn" href="https://www.linkedin.com/in/gabrielesarti/"><i class="icon fa fa-linkedin"  aria-hidden="true"></i></a>
        <a aria-label="My Twitter" href="https://twitter.com/gabrielesarti_"><i class="icon fa fa-twitter"  aria-hidden="true"></i></a>        
        <a aria-label="My GitHub" href="https://github.com/gsarti"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Quora" href="https://it.quora.com/profile/Gabriele-Sarti-1"><i class="icon fa fa-quora" aria-hidden="true"></i></a>
        <a aria-label="My Email" href="mailto:gabriele.sarti996@gmail.com"><i class="icon fa fa-envelope"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#news" data-scroll>News</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="https://medium.com/a-tale-of-men-and-machines" data-scroll>Blog</a>        
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
