<div id="news-header">
    <h1> News </h1>
  </div>
  <div id="news-section">
    <div id="next-events">
      <a aria-label="Events"><i class="icon fa fa-calendar" aria-hidden="true"></i></a>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div id="quora-latest-answer">
      <a aria-label="Latest Answers"><i class="icon fa fa-comment-o" aria-hidden="true"></i></a>  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>          
    </div>
    <div id="twitter-timeline">
      <a aria-label="Twitter Feed"><i class="icon fa fa-bullhorn" aria-hidden="true"></i></a>            
      <p><a class="twitter-timeline" data-height="250" data-chrome="noheader nofooter" href="https://twitter.com/gabrielesarti_?ref_src=twsrc%5Etfw"></a></p>
    </div>
    <div id="current-project">
      <a aria-label="Projects"><i class="icon fa fa-rocket" aria-hidden="true"></i></a>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>            
    </div>
  </div>