<div id="news-header">
    <h1> News </h1>
</div>
<div id="news-section">
  <div id="news-section-left">
    <div id="next-events">
      <a aria-label="Events"><i class="icon fa fa-calendar" aria-hidden="true"></i></a>
      <div class="event">
        <div>22 September</div>
        <div class="event-description">Attending AFS Intercultura Italy north-east meeting.</div>
      </div>
      <div class="event">
          <div>8 October</div>
          <div class="event-description">Starting courses for the M.Sc. in Data Science.</div>
        </div>
    </div>
    <div id="quora-latest-answer">
      <a aria-label="Latest Answers"><i class="icon fa fa-comment-o" aria-hidden="true"></i></a>  
      <p>My answer for <a href="http://qr.ae/TU1DAe">"How can I learn more about AI?"</a></p>
      <p>My answer for <a href="http://qr.ae/TU1DAz">"Should middle school be abolished in Italy?"</a></p>
      <p>My answer for <a href="http://qr.ae/TU1DAB">"Is social competition rational?"</a></p>   
      <p>My answer for <a href="http://qr.ae/TU1DCX">"Are greek and latin still useful to learn?"</a></p>
      <p>My answer for <a href="http://qr.ae/TU1DCn">"Why is accountability important in AI?"</a></p>
      <p>My answer for <a href="http://qr.ae/TU1DCK">"What's the impact of Italy on ML research?"</a></p>                                           
    </div>
  </div>
  <div id="twitter-timeline">
    <a aria-label="Twitter Feed"><i class="icon fa fa-bullhorn" aria-hidden="true"></i></a>            
    <p><a class="twitter-timeline" data-height="550" data-chrome="noheader nofooter" href="https://twitter.com/gabrielesarti_?ref_src=twsrc%5Etfw"></a></p>
  </div>
</div>