<div id="news-header">
    <h1> News </h1>
</div>
<div id="news-section">
  <div id="news-section-left">
    <div id="next-events">
      <a aria-label="Events"><i class="icon fa fa-calendar" aria-hidden="true"></i></a>
      <div class="event">
        <div class="event-date">May 8 - 10</div>
        <div class="event-description">Presenting <a href="https://github.com/gsarti/svevo-letters-analysis">Svevo Epistolary Analysis</a> @ <a href="http://www.ai-lc.it/lectures-2019-it/">2019 Lectures on
          Computational Linguistics</a> of AILC @ University of Pavia, Italy</div>
      </div>
      <div class="event">
        <div class="event-date">July 28 - August 1</div>
        <div class="event-description">Volounteering @ <a href="http://www.acl2019.org/EN/index.xhtml">ACL 2019</a> in Florence, Italy.</div>
      </div>
      <div class="event">
        <div class="event-date">August 5 - 16</div>
        <div class="event-description">Attending the <a href="http://esslli2019.folli.info/registration/registration-to-esslli-2019/">31st European School on Logic, Language and Information</a> in Riga, Latvia.</div>
      </div>
      <div class="event">
        <div class="event-date">November 13 - 15</div>
        <div class="event-description">Attending <a href="http://clic2019.di.uniba.it/index.html">Computational Linguistics Italian Conference</a> @ University of Bari, Italy.</div>
      </div>
      <div class="event">
        <div class="event-date">September - December</div>
        <div class="event-description">Internship in NLP & Computational Linguistics @ <a href="http://www.italianlp.it/">Italian Natural Language Processing Lab</a> located in Pisa, Italy.</div>
      </div>
      <!-- <div class="event">
        <div class="event-description">No future events... for now!</div>
      </div> -->
    </div>
    <!-- <div id="quora-latest-answer">
      <a aria-label="Latest Answers"><i class="icon fa fa-comment-o" aria-hidden="true"></i></a>  
      <p>My answer for <a href="http://qr.ae/TU1DAe">"How can I learn more about AI?"</a></p>
      <p>My answer for <a href="http://qr.ae/TU1DAz">"Should middle school be abolished in Italy?"</a></p>
      <p>My answer for <a href="http://qr.ae/TU1DAB">"Is social competition rational?"</a></p>   
      <p>My answer for <a href="http://qr.ae/TU1DCX">"Are greek and latin still useful to learn?"</a></p>
      <p>My answer for <a href="http://qr.ae/TU1DCn">"Why is accountability important in AI?"</a></p>
      <p>My answer for <a href="http://qr.ae/TU1DCK">"What's the impact of Italy on ML research?"</a></p>                                           
    </div> -->
  </div>
  <div id="twitter-timeline">
    <a aria-label="Twitter Feed"><i class="icon fa fa-bullhorn" aria-hidden="true"></i></a>            
    <p><a class="twitter-timeline" data-height="550" data-chrome="noheader nofooter" href="https://twitter.com/gsarti_?ref_src=twsrc%5Etfw"></a></p>
  </div>
</div>