<div id="projects-header">
  <h1> Projects </h1>
</div>
<div class="user-project">
  <div class="images-right">
      <a href="https://github.com/gsarti/svevo-letters-analysis"><img alt="Analysis of Italo Svevo Epistolary Corpus" src="{{ "/assets/img/svevo-proj.png" | prepend: site.baseurl }}"/></a>
  </div>
  <div class="contents">
    <h3> Italo Svevo Epistolary Corpus Analysis </h3>
    <p>
      In collaboration with <a href="http://medvet.inginf.units.it/">Prof. Eric Medvet</a>, head of the Machine Learning Lab @
      University of Trieste and Cristina Fenu of Biblioteca Civica Attilio Hortis, I performed a rudimental topic modeling and
      sentiment analysis of Italo Svevo epistolary corpus. The results were published on the <a href="http://medvet.inginf.units.it/">
      Svevian Museum's webpage</a> and will be presented at the <a href="http://www.ai-lc.it/lectures-2019-it/">2019 Lectures on
      Computational Linguistics</a> of AILC @ University of Pavia, Italy.
    </p>
    <a class="project-link" href="https://github.com/gsarti/svevo-letters-analysis">Go to project</a>
  </div>
</div>
<div class="user-project">
  <div class="images-left">
      <a href="https://github.com/gsarti/newscrapr"><img alt="Newscrapr" src="{{ "/assets/img/newscrapr.png" | prepend: site.baseurl }}"/></a>
  </div>
  <div class="contents-right">
    <h3> Newscrapr </h3>
    <p>
      I created a simple scraper in order to extract large batches of articles from common newspaper websites. The project
      is currently functional for La Repubblica, a major italian newspaper, and is ready to be extended and improved by the community.
    </p>
    <a class="project-link" href="https://github.com/gsarti/mlpong">Go to project</a>
  </div>
</div>
