<div id="projects-header">
  <h1> Projects </h1>
</div>
<div class="user-project">
  <div class="images-right">
      <a href="https://medium.com/a-tale-of-men-and-machines"><img alt="A Tale of Men and Machines" src="{{ "/assets/img/atomam.jpg" | prepend: site.baseurl }}"/></a>
  </div>
  <div class="contents">
    <h3> A Tale of Men and Machines </h3>
    <p>
      My blog explores the relation between innovation and society by analyzing the impact of new technology on our lifestyle and our mindset.
      Artificial intelligence is a recurring theme, provided its weight in the future of society.
    </p>
    <a class="project-link" href="https://medium.com/a-tale-of-men-and-machines">Visit blog</a>
  </div>
</div>
<div class="user-project">
  <div class="images-left">
      <a href="https://github.com/gsarti/mlpong"><img alt="MLPong" src="{{ "/assets/img/mlpong.jpg" | prepend: site.baseurl }}"/></a>
  </div>
  <div class="contents-right">
    <h3> ML Pong </h3>
    <p>
      I intend to tweak this simple game of Pong I created with the library Pygame in order to use it as a benchmark for many AI algorithms.
      I have currently finished the setup and I'm proceeding in the creation of a simple linear regression.
    </p>
    <a class="project-link" href="https://github.com/gsarti/mlpong">Go to project</a>
  </div>
</div>
