#news {

    max-width: 960px;
    margin: 0 auto;

    @media only screen and (min-width: $cut-body) {
        width: 80%;
    }

    @media only screen and (max-width: $cut-body) {
        width: 90%;
    }

    #news-header {
        text-align: center;
    }

    #news-section {
        display: grid;
        margin-top: 5%;

        @media only screen and (min-width: $cut-body) {
            grid-template-columns: 50% 50%;
            grid-template-rows: 300px 300px;
        }
    
        @media only screen and (max-width: $cut-body) {
            margin: 0px 10%;
            grid-template-rows: 300px 300px 300px 300px;
        }

        #next-events {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 1;
            grid-row-end: 1;
            border: 2px solid green;
        }

        #quora-latest-answer {

            border: 2px solid red;

            @media only screen and (min-width: $cut-body) {
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 1;
            }
        
            @media only screen and (max-width: $cut-body) {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 2;
                grid-row-end: 2;
            }
        }

        #current-project {

            border: 2px solid yellow;            

            @media only screen and (min-width: $cut-body) {
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 2;
            }
        
            @media only screen and (max-width: $cut-body) {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 3;
                grid-row-end: 3;
            }
        }

        #twitter-timeline {

            border: 2px solid turquoise;                        

            @media only screen and (min-width: $cut-body) {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 2;
                grid-row-end: 2;
            }
        
            @media only screen and (max-width: $cut-body) {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 4;
                grid-row-end: 4;
            }
        }
    }
}